body {
    background: lightgreen;
  } 

div img {
    border-radius: 50%;
    height: 150px;
    width: 175px;
    padding: 10px;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}